<h1>
  List of users
</h1>

<table border=1>
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th>
    </th>

    <th>
    </th>
  </tr>

  <% @users.each do |a_user| %>
    <tr>
      <td>
        <%= a_user.username %>
      </td>

      <td>
        <% if a_user.private %>
          Yes
        <% else %>
          No
        <% end %>
      </td>

      <td>
        <% if @current_user != nil %>
          <% if @current_user.requests_sent.where({ :recipient_id => a_user.id }).first == nil %>
            <form action="/insert_follow_request" method="post">
              <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">

              <button>
                Follow
              </button>
            </form>

          <% elsif @current_user.requests_sent.where({ :recipient_id => a_user.id }).first.status == "accepted" %>
            <a href="/delete_follow_request/<%= @current_user.requests_sent.where({ :recipient_id => a_user.id }).first.id %>">
              Unfollow
            </a>
          <% elsif @current_user.requests_sent.where({ :recipient_id => a_user.id }).first.status == "pending" %>
            <div>
              Request sent.
              <a href="/delete_follow_request/<%= @current_user.requests_sent.where({ :recipient_id => a_user.id }).first.id %>">
                Cancel
              </a>
            </div>
          <% else %>
          
          <% end %>
        <% end %>
      </td>

      <td>
        <a href="/users/<%= a_user.username %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
